/* Pagrindiniai stiliai */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Navigacijos meniu */
.top-menu, .user-menu {
    background-color: #a224b3;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.top-menu button, .user-menu a {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
}

.top-menu button.active, .user-menu .add-listing-btn {
    background-color: #660061;
}

.top-menu button:hover, .user-menu a:hover {
    background-color: #660061;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
.top-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
.left {
    text-align: left;
    align-items: center;
    flex: 1;
}

.right {
    text-align: right;
    align-items: center;
    flex: 1;
}
#greeting {
    display: inline-flex;
    align-items: center;
}
#logo {
    height: 35px;
}